.order{
  padding-top: 6.302vw;
  padding-bottom: 7.813vw;
  background-image: url('../img/bgb.webp');
  background-position: 0 0;
  background-size: cover;
  @media (max-width:480px) {
      padding-top: 10vw;
      padding-bottom: 12vw;
    }
  &__description{
    font-size: 0.938vw;
    @media (max-width:1366px) {
        font-size: 1.15vw;
      }
    @media (max-width:991px) {
        font-size: 1.5vw;
      }
    @media (max-width:767px) {
        font-size: 2vw;
      }
    @media (max-width:520px){
    font-size: 3vw;
    }
  }
  &__title{
    margin-bottom: 1.563vw;
    color: $white;
  }
  &__head{
    margin-bottom: 4.167vw;
    @media (max-width:480px) {
        margin-bottom: 8vw;
      }
  }
  &__steps{
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 1.563vw;
    margin-bottom: 4.167vw;
    @media (max-width:1200px) {
      grid-gap: 2.500vw;
    }
    @media (max-width:767px){
      grid-gap: 1.304vw;
    }

    @media (max-width:480px) {
        margin-bottom: 8vw;
    }
    
  }
  &__form-box{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.563vw;
    @media (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
        .form-group.span-2,.form-group.span-3{
          grid-column: span 1;
        }
      }
    @media (max-width:640px){
      grid-template-columns: 1fr;
      grid-gap: 4.688vw;
    }
  }
  &__form-group{
    padding-top: 1.302vw;
    @media (max-width:767px){
      padding-top: 0;
      .btn{
        width: 100%;
      }
    }
  }
}