.steps{
  &__box{
    position: relative;
    background-color: $stepBox;
    width: 5.208vw;
    height: 5.208vw;
    margin-bottom: 1.042vw;
    @media (max-width:1200px) {
        width: 8.333vw;
        height: 8.333vw;
      }
    @media (max-width:767px) {
        width: 13.038vw;
        height: 13.038vw;
      }
    &-icon{
      width: 4.688vw;
      height: 4.688vw;
      background-color: $blue;
      @media (max-width:1200px) {
          width: 7.500vw;
          height: 7.500vw;
        }
      @media (max-width:767px) {
        width: 11.734vw;
        height: 11.734vw;
      }
      img{
        max-width: 2.083vw;
        @media (min-width:1921px) {
          min-width: 2.083vw;
        }
        @media (max-width:1200px) {
          max-width: 3.083vw;
        }
        @media (max-width:767px) {
          max-width: 5.083vw;
        }
        
      }
    }
  }
  &__name{
    font-size: 0.833vw;
    @media (max-width:1366px) {
        font-size: .9vw;
      }
    @media (max-width:1200px) {
        font-size: 1.2vw;
      }
    @media (max-width:991px){
      font-size: 1.4vw;
    }
    @media (max-width:767px){
      font-size: 1.8vw;
    }
    @media (max-width:520px){
    display: none;
    }
  }
  &__dotsbox{
    top:2.448vw;
    left: 50%;
    transform:translate(-50%,0);
    width: 100%;
    @media (max-width:1200px) {
        justify-content: space-evenly;
        top: 3.448vw;
        width: 90%;
      }
    @media (max-width:767px){
      display: none;
    }
    
  }
  
 
  &__dots:not(:last-child){
    margin-right: 6.771vw;
    @media (max-width:1200px) {
        margin-right: 1.6vw;
      }
  }
  &__dot{
    background-color: $dots;
    width: 0.313vw;
    height: 0.313vw;
    @media (max-width:1200px) {
        width: .5vw;
        height: .5vw;
      }
    &:not(:last-child){
      margin-right: 1.042vw;
      @media (max-width:1200px) {
          margin-right: 1.6vw;
        }
    }
  }
}


.form-input {
  width: 100%;
  height: 2.500vw;
  background-color: rgba($white, 85%);
  border-radius: 0.156vw;
  border: 0.052vw solid $white;
  padding-left: 0.521vw;
  @media (max-width:1366px) {
      height: 3vw;
      font-size: 1vw;
    }
  @media (max-width:1200px) {
      height: 4vw;
      font-size: 1.5vw;
    }
  @media (max-width:767px) {
      height: 6.258vw;
      font-size: 2vw;
    }
    @media (max-width:640px) {      
      font-size: 2.2vw;
    }
    @media (max-width:520px) {
      height: 9.231vw;
      font-size: 3vw;
    }
  &::placeholder {
    font-size: 0.938vw;
    color: $placeholderColor;
    @media (max-width:1366px) {
        font-size: 1vw;
      }
    
    @media (max-width:1200px) {
        font-size: 1.5vw;
      }
    @media (max-width:767px) {      
      font-size: 2vw;
    }
    @media (max-width:640px) {      
      font-size: 2.2vw;
    }
    @media (max-width:520px) {      
      font-size: 3vw;
    }
  }
  &:focus{
    outline: none;
    box-shadow: none;
    border: 0.052vw solid $blue;
    background-color: $white;
    &::placeholder{
      opacity: 0;
    }
  }
}
.form-group__header{
  @media (max-width:767px) {
      height: 6.258vw;
      
    }
}

.select{
  cursor: pointer;
  height: 2.500vw;
  padding-left: 0;
  @media (max-width:1366px) {
      height: 3vw;
      font-size: 1vw;
    }
  @media (max-width:1200px) {
      height: 4vw;
      font-size: 1.5vw;
    }
  @media (max-width:767px) {
      height: 6.258vw;
      font-size: 2vw;
    }
    @media (max-width:640px) {      
      font-size: 2.2vw;
    }
    @media (max-width:520px) {
        height: 9.231vw;
        font-size: 3vw;
      }
  &__name{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.521vw;
  }
  &__close{
    top: 50%;
    right: 0.521vw;
    transform: translateY(-50%);
    width: 1.042vw;
    height: 1.042vw;
    background-image: url('../svg/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.469vw 0.313vw;
  }
  &__drop{
    padding-left: 0.573vw;
    padding-top: 0.781vw;
    width: 100%;
    top: -0.521vw;
    left: 0;
    white-space: nowrap;
    font-size: 0.938vw;
    line-height: 1.771vw;
    height: 9.375vw;
    // overflow: hidden;
    z-index: -1;
    opacity: 0;
    &.active{
      
      transition: all .2s;
      top: 0.052vw;
      opacity: 1;
      z-index: 1;
    }
    &-item{
      cursor: pointer;
      transition: color .3s;
      &.active{
        color: $selectItemColor;
      }
      @media (min-width:1100px) {
        &:hover{
          color: $selectItemColor;
        }
      }
    }
  }
}

.form-range{
  width: 100%;
  margin: 0;
  -webkit-appearance: none !important;
    background: rgba(255, 255, 255, 0.70);
    border: 0.052vw solid $white;
    border-radius: 0.365vw;
    height: 0.365vw;
    @media (max-width:767px) {
        height: 1vw;
       
      }
    &::-webkit-slider-thumb{
      -webkit-appearance: none !important;
        background-image: url('../svg/range.svg');
        background-size: 100%;
        cursor: pointer;
        height: 1.458vw;
        width: 1.458vw;
        border-radius: 50%;
        @media (max-width:767px) {
          height: 2.8vw;
          width: 2.8vw;
        }
    }
    &::-moz-range-thumb{
      -moz-appearance: none !important;
        background-image: url('../svg/range.svg');
        background-size: 100%;
        cursor: pointer;
        height: 1.458vw;
        width: 1.458vw;
        border-radius: 50%;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        border: none;
        @media (max-width:767px) {
            height: 2.8vw;
            width: 2.8vw;
          }
        &::after,&::before{
          display: none;
        }
    }
}
.file-input{
  @extend .form-input;
  padding-left: 0;
  user-select: none;
  cursor: pointer;
  border: 0.052vw solid $blue;
  transition: all .3s;
  &:hover {
      box-shadow: inset 0 0 10px rgba($base,.3);
      border-color: $white;
      
    }
  &::before{
    content: "";
    width: 0.938vw;
    height: 1.042vw;
    background-image: url('../svg/file.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 0.521vw;
    transition: all .3s;
    @media (max-width:1200px) {
        width: 1.5vw;
        height: 1.8vw;
      }
    @media (max-width:767px) {
        width: 2vw;
        height: 2.4vw;
      }
    @media (max-width:520px) {
        width: 3vw;
        height: 3.4vw;
        margin-right: 1vw;
      }
  }
  span{
    padding-top: 0.208vw;
  }
}