.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    margin:0 auto;
    min-width: 320px;
    min-height: 100%; 
    
    
    .content {
        position: relative;
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 61.042vw;    
    @media (max-width:1200px) {
            max-width: none;
            padding-left: 1.667vw;
            padding-right: 1.667vw;
        }
}