.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justyfy-end{
  justify-content: flex-end;
}

.columns{
  flex-flow: column;
}

.hidden{
  display: none;
}

.grid{
  display: grid;
}

.span-2{
  grid-column: span 2;
}
.span-3{
  grid-column: span 3;
}

/**/

.round{
  border-radius: 50%;
}

.height-full{
  height: 100%;
}

/**/

.color-white{
  color: $white;
}
.color-blue{
  color: $blue;
}
.color-lgr{
  color: lightGray;
}
.color-placeholder{
  color: $placeholderColor;
}
.bg-panel{
  background-color: $panelColor;
}
/**/
.uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.display-1{
  font-size: 2.500vw;
  @media (max-width:1366px) {
      font-size: 2.8vw;
    }
  @media (max-width:991px) {
      font-size: 3vw;
    }
  @media (max-width:767px) {
      font-size: 4vw;
    }
  @media (max-width:520px) {
      font-size: 5vw;
    }
}
.display-2{
  font-size: 1.875vw;
  @media (max-width:1366px) {
      font-size: 2.2vw;
    }
  @media (max-width:991px) {
      font-size: 2.8vw;
    }
  @media (max-width:767px) {
      font-size: 3.6vw;
    }
  @media (max-width:520px) {
      font-size: 4.5vw;
    }
}

.display-4{
  font-size: 1.042vw;
  @media (max-width:1366px){
    font-size: 1.3vw;
  }
  @media (max-width:991px){
    font-size: 1.6vw;
  }
  @media (max-width:767px){
    font-size: 2vw;
  }
  @media (max-width:520px){
    font-size: 3vw;
  }
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.inset{
  inset:0;
  height: 100%;
}
.no-index{
  z-index: -1;
}




