$base:#000000;
$bodyBg:#272832;
$panelColor:#3D4050;
$blue:#3E9CDC;
$lightGray:#BBBBBB;
$activeLink:#43ABF0;
$white:#FFFFFF;
$buttonColor:#2A2B30;
$buttonDarkBorder:#6F6D7B;
$placeholderColor:#272733;
$stepBox:#286690;
$dots:#C4C4C4;
$payNamesColor:#C3C3C3;
$selectItemColor:#42A9ED;